{% extends "admin/change_form.html" %}
{% load i18n admin_modify adminmedia %}

{% block title %}Close Account{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="../../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../../">Accounts</a> &rsaquo;
     <a href="../../">Account</a> &rsaquo;
     <a href="../">{{ account }}</a> &rsaquo;
     Close Account
</div>
{% endblock %}

{% block content %}
<p>
	Confirm closure of {{ account.name }} of ${{ account.normal_balance }}. {{ ex }}
</p>

<form action="." method="post">
	<table>
		{{ form }}
		<tr>
			<td></td>
			<td><input type="submit" value="Close" /></td>
		</tr>
	</table>
</form>
{% endblock %}
